* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Oswald', sans-serif;*/
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: gray;
    z-index: 1;
}

/*.main-title {
    /*font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.sub-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.sub-sub-title {

}*/

body {
    padding-top: 100px;
    padding-bottom: 25px;
}

fieldset {
    border: none;
    text-align: center;
}

label, .find-recipes, .load-more-recipes {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clear-wrapper {
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    vertical-align: middle;
}

.clear-ingredients {
    position: absolute;
    transform: translate(0,-50%);
}

h1, h3, h4, h5, h6, label {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: gray;
}

.results {
    text-align: center;
}

.chef-gif {
    border-radius: 20px;
    width: 90%;
}

.results-title {
    padding-top: 20px;
}

.results-subtitle {
    padding-bottom: 10px;
    border-bottom: 1px black solid
}

.recipe-image {
    width: 50%;
}

.recipe-title {
    width: 50%;
}

.recipe {
    display: flex;
    align-items: center;
}

.big-result {
    border-bottom: 1px black solid;
}

.clicked-recipe {
    flex-direction: column-reverse;
}

.clicked-recipe img, .clicked-recipe h3 {
    width: 80%;
}

.youtube-link {
    width: 20%;
}

.youtube-image {
    width: 100%;
}

.youtube-clips {
    padding-bottom: 10px;
}

.youtube-clips-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youtube-clip {
    width: 47.5%;
    display: inline-block;
    vertical-align: top;
}

.make-it-big {
    width: 95%;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube-embed {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.play-icon {
    position: absolute;
    width: 25%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.youtube-embed-caption {
    text-decoration: none;
    color: black;
    font-size: 8px;
}

.no-more-recipes {
    text-align: center;
}

.recipe-details {
    text-align: center;
}

.recipe-detail-header {
    text-decoration: underline; 
}

.recipe-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

a:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}